In [1]:
import pandas as pd

In [3]:
df_games = pd.read_parquet('../Datasets/steam_games_preprocessed.parquet')
df_reviews = pd.read_parquet('../Datasets/user_reviews_preprocessed.parquet')

In [4]:
# Columnas necesarias
df_games = df_games[['item_id', 'developer', 'release_date']]
df_reviews = df_reviews[['item_id', 'recommend', 'sentiment_analysis']]

In [7]:
df_games

      item_id                 developer release_date
0      761140                 Kotoshiro   2018-01-04
1      643980          Secret Level SRL   2018-01-04
2      670290              Poolians.com   2017-07-24
3      767400                      彼岸领域   2017-12-07
4      772540       Trickjump Games Ltd   2018-01-04
...       ...                       ...          ...
27405  745400           Bidoniera Games   2018-01-04
27406  773640        Nikita "Ghost_RUS"   2018-01-04
27407  733530                    Sacada   2018-01-04
27408  610660  Laush Dmitriy Sergeevich   2018-01-04
27409  658870             xropi,stev3ns   2017-09-02

[27410 rows x 3 columns]

In [5]:
# Merge de los dos dataframes.
df_developer_year = pd.merge(df_games, df_reviews, on='item_id', how='inner')

In [6]:
df_developer_year

      item_id            developer release_date  recommend  sentiment_analysis
0      282010  Stainless Games Ltd   1997-06-30       True                   1
1          70                Valve   1998-11-08       True                   0
2          70                Valve   1998-11-08       True                   0
3          70                Valve   1998-11-08       True                   0
4          70                Valve   1998-11-08       True                   2
...       ...                  ...          ...        ...                 ...
48665      80                Valve   2004-03-01      False                   1
48666      80                Valve   2004-03-01       True                   2
48667      80                Valve   2004-03-01       True                   2
48668      80                Valve   2004-03-01       True                   1
48669      80                Valve   2004-03-01       True                   0

[48670 rows x 5 columns]

In [9]:
df_developer_year.isna().sum()

item_id               0
developer             0
release_date          0
recommend             0
sentiment_analysis    0
dtype: int64

In [28]:
df_developer_year.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48670 entries, 0 to 48669
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   item_id             48670 non-null  object
 1   developer           48670 non-null  object
 2   release_date        48670 non-null  datetime64[ns]
 3   recommend           48670 non-null  bool
 4   sentiment_analysis  48670 non-null  int8
dtypes: bool(1), datetime64[ns](1), int8(1), object(2)
memory usage: 1.2+ MB

In [10]:
df_developer_year.to_parquet('../Datasets/best_developer_year_endpoint.parquet')