In [4]:
import pandas as pd

In [5]:
df_games = pd.read_parquet('../Datasets/steam_games_preprocessed.parquet')
df_reviews = pd.read_parquet('../Datasets/user_reviews_preprocessed.parquet')

In [6]:
# Columnas necesarias para la consulta
df_games = df_games[['item_id', 'developer', 'release_date']]
df_reviews = df_reviews[['item_id', 'recommend', 'sentiment_analysis']]

In [7]:
# Merge de los dos dataframes.
df_developer_year = pd.merge(df_games, df_reviews, on='item_id', how='inner')

In [8]:
df_developer_year.head(2)

  item_id            developer release_date  recommend  sentiment_analysis
0  282010  Stainless Games Ltd   1997-06-30       True                   1
1      70                Valve   1998-11-08       True                   0

In [9]:
df_developer_year.isna().sum()

item_id               0
developer             0
release_date          0
recommend             0
sentiment_analysis    0
dtype: int64

In [10]:
df_developer_year.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48670 entries, 0 to 48669
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   item_id             48670 non-null  object
 1   developer           48670 non-null  object
 2   release_date        48670 non-null  datetime64[ns]
 3   recommend           48670 non-null  bool
 4   sentiment_analysis  48670 non-null  int8
dtypes: bool(1), datetime64[ns](1), int8(1), object(2)
memory usage: 1.2+ MB

In [11]:
df_developer_year.to_parquet('../Datasets/best_developer_year_endpoint.parquet')