In [1]:
import pandas as pd

In [2]:
df_games = pd.read_parquet('../Datasets/steam_games_preprocessed.parquet')
df_reviews = pd.read_parquet('../Datasets/user_reviews_preprocessed.parquet')

In [3]:
df_games

,item_id,title,developer,release_date,genres,tags,price
0,761140,Lost Summoner Kitty,Kotoshiro,2018-01-04,"Action, Casual, Indie, Simulation, Strategy","Strategy, Action, Indie, Casual, Simulation",4.99
1,643980,Ironbound,Secret Level SRL,2018-01-04,"Free to Play, Indie, RPG, Strategy","Free to Play, Strategy, Indie, RPG, Card Game,...",0.00
2,670290,Real Pool 3D - Poolians,Poolians.com,2017-07-24,"Casual, Free to Play, Indie, Simulation, Sports","Free to Play, Simulation, Sports, Casual, Indi...",0.00
3,767400,弹炸人2222,彼岸领域,2017-12-07,"Action, Adventure, Casual","Action, Adventure, Casual",0.99
4,772540,Battle Royale Trainer,Trickjump Games Ltd,2018-01-04,"Action, Adventure, Simulation","Action, Adventure, Simulation, FPS, Shooter, T...",3.99
...,...,...,...,...,...,...,...
27405,745400,Kebab it Up!,Bidoniera Games,2018-01-04,"Action, Adventure, Casual, Indie","Action, Indie, Casual, Violent, Adventure",1.99
27406,773640,Colony On Mars,"Nikita ""Ghost_RUS""",2018-01-04,"Casual, Indie, Simulation, Strategy","Strategy, Indie, Casual, Simulation",1.99
27407,733530,LOGistICAL: South Africa,Sacada,2018-01-04,"Casual, Indie, Strategy","Strategy, Indie, Casual",4.99
27408,610660,Russian Roads,Laush Dmitriy Sergeevich,2018-01-04,"Indie, Racing, Simulation","Indie, Simulation, Racing",1.99
27409,658870,EXIT 2 - Directions,"xropi,stev3ns",2017-09-02,"Casual, Indie","Indie, Casual, Puzzle, Singleplayer, Atmospher...",4.99

In [4]:
df_reviews

      item_id  recommend            user_id  sentiment_analysis
0        1250       True  76561197970982479                   2
1       22200       True  76561197970982479                   2
2       43110       True  76561197970982479                   2
3      251610       True            js41637                   2
4      227300       True            js41637                   0
...       ...        ...                ...                 ...
58426      70       True  76561198312638244                   2
58427  362890       True  76561198312638244                   2
58428  273110       True        LydiaMorley                   2
58429     730       True        LydiaMorley                   2
58430     440       True        LydiaMorley                   2

[58431 rows x 4 columns]

In [5]:
df = pd.merge(df_reviews, df_games, on='item_id', how='inner')

In [9]:
# Columnas necesarias para el endpoint
df = df[['developer', 'sentiment_analysis']]

In [11]:
df.to_parquet('../Datasets/developer_reviews_analysis.parquet', compression='snappy', index=False)