In [2]:
import pandas as pd

In [3]:
df_developer = pd.read_parquet('../Datasets/steam_games_preprocessed.parquet')

In [4]:
df_developer.head()

,item_id,title,developer,release_date,genres,tags,price
0,761140,Lost Summoner Kitty,Kotoshiro,2018-01-04,"Action, Casual, Indie, Simulation, Strategy","Strategy, Action, Indie, Casual, Simulation",4.99
1,643980,Ironbound,Secret Level SRL,2018-01-04,"Free to Play, Indie, RPG, Strategy","Free to Play, Strategy, Indie, RPG, Card Game,...",0.00
2,670290,Real Pool 3D - Poolians,Poolians.com,2017-07-24,"Casual, Free to Play, Indie, Simulation, Sports","Free to Play, Simulation, Sports, Casual, Indi...",0.00
3,767400,弹炸人2222,彼岸领域,2017-12-07,"Action, Adventure, Casual","Action, Adventure, Casual",0.99
4,772540,Battle Royale Trainer,Trickjump Games Ltd,2018-01-04,"Action, Adventure, Simulation","Action, Adventure, Simulation, FPS, Shooter, T...",3.99

Nos quedamos con las columnas relevantes para la consulta

In [5]:
df_developer = df_developer[['developer', 'release_date', 'price']]

In [6]:
df_developer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27410 entries, 0 to 27409
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   developer     27410 non-null  object
 1   release_date  27410 non-null  datetime64[ns]
 2   price         27410 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 642.6+ KB

In [7]:
# Creamos columna de contenido free representado por 1 y no free por 0.

df_developer['free'] = df_developer['price'].apply(lambda x: 1 if x == 0 else 0)

# Eliminamos la columna price.

df_developer.drop('price', axis=1, inplace=True)

In [8]:
df_developer.head(2)

          developer release_date  free
0         Kotoshiro   2018-01-04     0
1  Secret Level SRL   2018-01-04     1

In [9]:
# Transformación de los valores de la columna developer a mayúsculas (título).

df_developer['developer'] = df_developer['developer'].str.title()

In [10]:
df_developer.value_counts()

developer                   release_date  free
Ubisoft - San Francisco     2012-10-16    0       85
Llama Software              2017-08-31    0       44
Monolith Productions, Inc.  2012-08-30    0       39
Ronimo Games                2017-04-26    0       38
Magic Pixel Kft.            2016-06-16    0       37
                                                  ..
Fyre Games                  2016-11-09    1        1
Fyn Games                   2017-08-14    0        1
Fx Games Media              2016-08-10    1        1
Fx Games                    2017-01-01    1        1
高考恋爱委员会,橘子班                 2017-11-10    0        1
Name: count, Length: 21189, dtype: int64

Exportamos en formato parquet

In [11]:
df_developer.to_parquet('../Datasets/developer_endpoint.parquet', compression='snappy', index=False)