In [8]:
import pandas as pd

In [9]:
df_games = pd.read_parquet('../Datasets/steam_games_preprocessed.parquet')
df_reviews = pd.read_parquet('../Datasets/user_reviews_preprocessed.parquet')

In [10]:
df_games.head(3)

,item_id,title,developer,release_date,genres,tags,price
0,761140,Lost Summoner Kitty,Kotoshiro,2018-01-04,"Action, Casual, Indie, Simulation, Strategy","Strategy, Action, Indie, Casual, Simulation",4.99
1,643980,Ironbound,Secret Level SRL,2018-01-04,"Free to Play, Indie, RPG, Strategy","Free to Play, Strategy, Indie, RPG, Card Game,...",0.00
2,670290,Real Pool 3D - Poolians,Poolians.com,2017-07-24,"Casual, Free to Play, Indie, Simulation, Sports","Free to Play, Simulation, Sports, Casual, Indi...",0.00

In [11]:
df_reviews.head(3)

  item_id  recommend            user_id  sentiment_analysis
0    1250       True  76561197970982479                   2
1   22200       True  76561197970982479                   2
2   43110       True  76561197970982479                   2

In [12]:
# Uni√≥n de los dataframes
df = pd.merge(df_reviews, df_games, on='item_id', how='inner')

In [13]:
# Columnas necesarias para el endpoint
df = df[['developer', 'sentiment_analysis']]

In [14]:
df.to_parquet('../Datasets/developer_reviews_analysis.parquet', compression='snappy', index=False)