### Extracción de datos

In [257]:
import gzip
import pandas as pd
import ast

archivo = '../Datasets/steam_games.json.gz'

df = pd.read_json(archivo, lines=True, encoding='utf-8')

In [258]:
df.head()

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
1,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
2,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
3,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
4,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None

### Eliminación de columnas y normalización

In [259]:
# Dropeamos todas las filas vacías
df.dropna(how='all', inplace=True)

In [260]:
df.head()

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
88310,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,0.0,761140.0,Kotoshiro
88311,"Making Fun, Inc.","[Free to Play, Indie, RPG, Strategy]",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",http://steamcommunity.com/app/643980/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",Free To Play,0.0,643980.0,Secret Level SRL
88312,Poolians.com,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,2017-07-24,"[Free to Play, Simulation, Sports, Casual, Ind...",http://steamcommunity.com/app/670290/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",Free to Play,0.0,670290.0,Poolians.com
88313,彼岸领域,"[Action, Adventure, Casual]",弹炸人2222,弹炸人2222,http://store.steampowered.com/app/767400/2222/,2017-12-07,"[Action, Adventure, Casual]",http://steamcommunity.com/app/767400/reviews/?...,[Single-player],0.99,0.0,767400.0,彼岸领域
88314,None,None,Log Challenge,None,http://store.steampowered.com/app/773570/Log_C...,None,"[Action, Indie, Casual, Sports]",http://steamcommunity.com/app/773570/reviews/?...,"[Single-player, Full controller support, HTC V...",2.99,0.0,773570.0,None

In [261]:
# Columnas innecesarias para las consultas
df.drop(columns=['publisher', 'url', 'reviews_url', 'early_access', 'specs'], inplace=True)

In [262]:
df.head()

,genres,app_name,title,release_date,tags,price,id,developer
88310,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",4.99,761140.0,Kotoshiro
88311,"[Free to Play, Indie, RPG, Strategy]",Ironbound,Ironbound,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",Free To Play,643980.0,Secret Level SRL
88312,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,Real Pool 3D - Poolians,2017-07-24,"[Free to Play, Simulation, Sports, Casual, Ind...",Free to Play,670290.0,Poolians.com
88313,"[Action, Adventure, Casual]",弹炸人2222,弹炸人2222,2017-12-07,"[Action, Adventure, Casual]",0.99,767400.0,彼岸领域
88314,None,Log Challenge,None,None,"[Action, Indie, Casual, Sports]",2.99,773570.0,None

In [263]:
df.shape

(32135, 8)

In [264]:
df['title'].isna().sum()

2050

In [265]:
df[['app_name', 'title']].sample(20)

,app_name,title
110821,Frost,Frost
119836,S.T.A.L.K.E.R.: Call of Pripyat,S.T.A.L.K.E.R.: Call of Pripyat
119298,Dynamite Headdy,Dynamite Headdy
107844,Dark Dimensions: City of Fog Collector's Edition,Dark Dimensions: City of Fog Collector's Edition
100372,Paddle Battle,Paddle Battle
120144,The Club™,The Club™
104867,Car Mechanic Simulator 2018 - Mazda DLC,Car Mechanic Simulator 2018 - Mazda DLC
93053,FIREFIGHT RELOADED,FIREFIGHT RELOADED
114220,Dream - Soundtrack,Dream - Soundtrack
112907,Dragonpath Demo,Dragonpath Demo
106361,Catan Universe,Catan Universe
103887,Trivia Vault: Mini Mixed Trivia 2,Trivia Vault: Mini Mixed Trivia 2
99093,Cosmic Kites Demo,Cosmic Kites Demo
90040,Rocksmith® 2014 – Alice in Chains - “Them Bones”,Rocksmith® 2014 – Alice in Chains - “Them Bones”
114188,Shu's Garden,Shu's Garden
109713,Bus Tycoon ND (Night and Day),Bus Tycoon ND (Night and Day)
109900,Robotpencil Presents: Using Values to Control ...,Robotpencil Presents: Using Values to Control ...
96913,1-2-Swift,None
102068,Carcassonne - Tiles & Tactics,Carcassonne - Tiles &amp; Tactics
98988,Just In Time Incorporated,None

In [266]:
df['app_name'].isna().sum()

2

In [267]:
# Dropeamos title ya que los valores coinciden con app_name y tiene menos valores nulos
df.drop('title', axis=1, inplace=True)

In [268]:
df.head()

,genres,app_name,release_date,tags,price,id,developer
88310,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",4.99,761140.0,Kotoshiro
88311,"[Free to Play, Indie, RPG, Strategy]",Ironbound,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",Free To Play,643980.0,Secret Level SRL
88312,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,2017-07-24,"[Free to Play, Simulation, Sports, Casual, Ind...",Free to Play,670290.0,Poolians.com
88313,"[Action, Adventure, Casual]",弹炸人2222,2017-12-07,"[Action, Adventure, Casual]",0.99,767400.0,彼岸领域
88314,None,Log Challenge,None,"[Action, Indie, Casual, Sports]",2.99,773570.0,None

In [269]:
df['tags'].isna().sum()

163

In [270]:
df['genres'].isna().sum()

3283

In [271]:
df['price'].unique()

array([4.99, 'Free To Play', 'Free to Play', 0.99, 2.99, 3.99, 9.99,
       18.99, 29.99, None, 'Free', 10.99, 1.5899999999999999, 14.99, 1.99,
       59.99, 8.99, 6.99, 7.99, 39.99, 19.99, 7.49, 12.99, 5.99, 2.49,
       15.99, 1.25, 24.99, 17.99, 61.99, 3.49, 11.99, 13.99, 'Free Demo',
       'Play for Free!', 34.99, 74.76, 1.49, 32.99, 99.99, 14.95, 69.99,
       16.99, 79.99, 49.99, 5.0, 44.99, 13.98, 29.96, 119.99, 109.99,
       149.99, 771.71, 'Install Now', 21.99, 89.99,
       'Play WARMACHINE: Tactics Demo', 0.98, 139.92, 4.29, 64.99,
       'Free Mod', 54.99, 74.99, 'Install Theme', 0.89, 'Third-party',
       0.5, 'Play Now', 299.99, 1.29, 3.0, 15.0, 5.49, 23.99, 49.0, 20.99,
       10.93, 1.3900000000000001, 'Free HITMAN™ Holiday Pack', 36.99,
       4.49, 2.0, 4.0, 9.0, 234.99, 1.9500000000000002, 1.5, 199.0, 189.0,
       6.66, 27.99, 10.49, 129.99, 179.0, 26.99, 399.99, 31.99, 399.0,
       20.0, 40.0, 3.33, 199.99, 22.99, 320.0, 38.85, 71.7, 59.95, 995.0,
       27.49, 3.39, 6.0, 19.95, 499.99, 16.06, 4.68, 131.4, 44.98, 202.76,
       1.0, 2.3, 0.9500000000000001, 172.24, 249.99, 2.9699999999999998,
       10.96, 10.0, 30.0, 2.66, 6.48, 19.29, 11.15, 18.9, 2.89,
       'Play the Demo', 99.0, 87.94, 599.0, 8.98, 9.69, 0.49, 9.98, 9.95,
       7.0, 'Starting at $499.00', 'Starting at $449.00', 12.89, 6.49,
       1.87, 42.99, 41.99, 289.99, 'Free to Try', 23.96, 5.65, 12.0,
       13.37, 189.96, 124.99, 'Free Movie', 19.98, 160.91, 'Free to Use'],
      dtype=object)

In [272]:
df.head()

,genres,app_name,release_date,tags,price,id,developer
88310,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",4.99,761140.0,Kotoshiro
88311,"[Free to Play, Indie, RPG, Strategy]",Ironbound,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",Free To Play,643980.0,Secret Level SRL
88312,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,2017-07-24,"[Free to Play, Simulation, Sports, Casual, Ind...",Free to Play,670290.0,Poolians.com
88313,"[Action, Adventure, Casual]",弹炸人2222,2017-12-07,"[Action, Adventure, Casual]",0.99,767400.0,彼岸领域
88314,None,Log Challenge,None,"[Action, Indie, Casual, Sports]",2.99,773570.0,None

### Transformaciones

In [273]:
# Dropeamos las filas que tengan valores nulos.

df.dropna(inplace=True)

In [274]:
# Definimos una función para convertir los precios a float.
def price_to_float(price):
    
    # Si el precio es un string, su valor será 0.
    if type(price) == str:
        return float(0)
    # Si el precio no es un string, lo convertimos a float.
    else:
        return float(price)

df['price'] = df['price'].apply(price_to_float)

In [275]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27449 entries, 88310 to 120443
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   genres        27449 non-null  object
 1   app_name      27449 non-null  object
 2   release_date  27449 non-null  object
 3   tags          27449 non-null  object
 4   price         27449 non-null  float64
 5   id            27449 non-null  float64
 6   developer     27449 non-null  object
dtypes: float64(2), object(5)
memory usage: 1.7+ MB

In [276]:
# Convertimos la columna 'release_date' a datetime.

df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')

In [277]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27449 entries, 88310 to 120443
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   genres        27449 non-null  object
 1   app_name      27449 non-null  object
 2   release_date  27410 non-null  datetime64[ns]
 3   tags          27449 non-null  object
 4   price         27449 non-null  float64
 5   id            27449 non-null  float64
 6   developer     27449 non-null  object
dtypes: datetime64[ns](1), float64(2), object(4)
memory usage: 1.7+ MB

In [278]:
df.dropna(subset='release_date', inplace=True)

In [279]:
df.head()

,genres,app_name,release_date,tags,price,id,developer
88310,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",4.99,761140.0,Kotoshiro
88311,"[Free to Play, Indie, RPG, Strategy]",Ironbound,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",0.00,643980.0,Secret Level SRL
88312,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,2017-07-24,"[Free to Play, Simulation, Sports, Casual, Ind...",0.00,670290.0,Poolians.com
88313,"[Action, Adventure, Casual]",弹炸人2222,2017-12-07,"[Action, Adventure, Casual]",0.99,767400.0,彼岸领域
88315,"[Action, Adventure, Simulation]",Battle Royale Trainer,2018-01-04,"[Action, Adventure, Simulation, FPS, Shooter, ...",3.99,772540.0,Trickjump Games Ltd

In [280]:
# Renombramos app_name por title.

df.rename(columns={'app_name': 'title'}, inplace=True)

# Renombramos la columna id que corresponde a item_id, lo convertimos primero a int para quitarle los valores flotantes y luego a string.

df.rename(columns={'id': 'item_id'}, inplace=True)
df['item_id'] = df['item_id'].astype(int)
df['item_id'] = df['item_id'].astype(str)

#### Nota: para optimizar el costo computacional, no vamos a utilizar valores numéricos en item_id ya que no necesitamos operar sobre ellos, solo los vamos a usar para joinear las tablas.

In [281]:
df.head()

,genres,title,release_date,tags,price,item_id,developer
88310,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",4.99,761140,Kotoshiro
88311,"[Free to Play, Indie, RPG, Strategy]",Ironbound,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",0.00,643980,Secret Level SRL
88312,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,2017-07-24,"[Free to Play, Simulation, Sports, Casual, Ind...",0.00,670290,Poolians.com
88313,"[Action, Adventure, Casual]",弹炸人2222,2017-12-07,"[Action, Adventure, Casual]",0.99,767400,彼岸领域
88315,"[Action, Adventure, Simulation]",Battle Royale Trainer,2018-01-04,"[Action, Adventure, Simulation, FPS, Shooter, ...",3.99,772540,Trickjump Games Ltd

In [282]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27410 entries, 88310 to 120443
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   genres        27410 non-null  object
 1   title         27410 non-null  object
 2   release_date  27410 non-null  datetime64[ns]
 3   tags          27410 non-null  object
 4   price         27410 non-null  float64
 5   item_id       27410 non-null  object
 6   developer     27410 non-null  object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 1.7+ MB

In [283]:
# Convertimos las listas de 'genres' y 'tags' a strings.

df['genres'] = df['genres'].apply(lambda x: ', '.join(x))
df['tags'] = df['tags'].apply(lambda x: ', '.join(x))

In [284]:
# Ordenamos las columnas.

new_order = ['item_id', 'title', 'developer', 'release_date', 'genres', 'tags', 'price']

df = df[new_order]

In [285]:
df.head()

,item_id,title,developer,release_date,genres,tags,price
88310,761140,Lost Summoner Kitty,Kotoshiro,2018-01-04,"Action, Casual, Indie, Simulation, Strategy","Strategy, Action, Indie, Casual, Simulation",4.99
88311,643980,Ironbound,Secret Level SRL,2018-01-04,"Free to Play, Indie, RPG, Strategy","Free to Play, Strategy, Indie, RPG, Card Game,...",0.00
88312,670290,Real Pool 3D - Poolians,Poolians.com,2017-07-24,"Casual, Free to Play, Indie, Simulation, Sports","Free to Play, Simulation, Sports, Casual, Indi...",0.00
88313,767400,弹炸人2222,彼岸领域,2017-12-07,"Action, Adventure, Casual","Action, Adventure, Casual",0.99
88315,772540,Battle Royale Trainer,Trickjump Games Ltd,2018-01-04,"Action, Adventure, Simulation","Action, Adventure, Simulation, FPS, Shooter, T...",3.99

### Exportación del dataset

In [286]:
# Exportamos el dataset preprocesado a un archivo parquet con compresión snappy.

df.to_parquet('../Datasets/steam_games_preprocessed.parquet', compression='snappy', index=False)