In [376]:
import pandas as pd

In [377]:
df = pd.read_parquet('../Datasets/steam_games_preprocessed.parquet')

In [378]:
df.head()

,item_id,title,developer,release_date,genres,tags,price
0,761140,Lost Summoner Kitty,Kotoshiro,2018-01-04,"Action, Casual, Indie, Simulation, Strategy","Strategy, Action, Indie, Casual, Simulation",4.99
1,643980,Ironbound,Secret Level SRL,2018-01-04,"Free to Play, Indie, RPG, Strategy","Free to Play, Strategy, Indie, RPG, Card Game,...",0.00
2,670290,Real Pool 3D - Poolians,Poolians.com,2017-07-24,"Casual, Free to Play, Indie, Simulation, Sports","Free to Play, Simulation, Sports, Casual, Indi...",0.00
3,767400,弹炸人2222,彼岸领域,2017-12-07,"Action, Adventure, Casual","Action, Adventure, Casual",0.99
4,772540,Battle Royale Trainer,Trickjump Games Ltd,2018-01-04,"Action, Adventure, Simulation","Action, Adventure, Simulation, FPS, Shooter, T...",3.99

In [379]:
df.drop(['price', 'release_date'], axis=1, inplace=True)

In [380]:
df

,item_id,title,developer,genres,tags
0,761140,Lost Summoner Kitty,Kotoshiro,"Action, Casual, Indie, Simulation, Strategy","Strategy, Action, Indie, Casual, Simulation"
1,643980,Ironbound,Secret Level SRL,"Free to Play, Indie, RPG, Strategy","Free to Play, Strategy, Indie, RPG, Card Game,..."
2,670290,Real Pool 3D - Poolians,Poolians.com,"Casual, Free to Play, Indie, Simulation, Sports","Free to Play, Simulation, Sports, Casual, Indi..."
3,767400,弹炸人2222,彼岸领域,"Action, Adventure, Casual","Action, Adventure, Casual"
4,772540,Battle Royale Trainer,Trickjump Games Ltd,"Action, Adventure, Simulation","Action, Adventure, Simulation, FPS, Shooter, T..."
...,...,...,...,...,...
27405,745400,Kebab it Up!,Bidoniera Games,"Action, Adventure, Casual, Indie","Action, Indie, Casual, Violent, Adventure"
27406,773640,Colony On Mars,"Nikita ""Ghost_RUS""","Casual, Indie, Simulation, Strategy","Strategy, Indie, Casual, Simulation"
27407,733530,LOGistICAL: South Africa,Sacada,"Casual, Indie, Strategy","Strategy, Indie, Casual"
27408,610660,Russian Roads,Laush Dmitriy Sergeevich,"Indie, Racing, Simulation","Indie, Simulation, Racing"
27409,658870,EXIT 2 - Directions,"xropi,stev3ns","Casual, Indie","Indie, Casual, Puzzle, Singleplayer, Atmospher..."

In [381]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27410 entries, 0 to 27409
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   item_id    27410 non-null  object
 1   title      27410 non-null  object
 2   developer  27410 non-null  object
 3   genres     27410 non-null  object
 4   tags       27410 non-null  object
dtypes: object(5)
memory usage: 1.0+ MB

In [382]:
# Función para combinar géneros y etiquetas, eliminando duplicados
def combine_features(row):
    genres_list = [genre.strip() for genre in row['genres'].split(',') if genre.strip()]
    tags_list = [tag.strip() for tag in row['tags'].split(',') if tag.strip()]
    combined_set = set(genres_list + tags_list)
    return ', '.join(sorted(combined_set))

# Aplicar la función para combinar géneros y etiquetas
df['features'] = df.apply(combine_features, axis=1)

In [383]:
df.drop(['genres', 'tags', 'developer'], axis=1, inplace=True)

In [384]:
df.head()

,item_id,title,features
0,761140,Lost Summoner Kitty,"Action, Casual, Indie, Simulation, Strategy"
1,643980,Ironbound,"2D, Board Game, Card Game, Character Customiza..."
2,670290,Real Pool 3D - Poolians,"Casual, Free to Play, Indie, Multiplayer, Simu..."
3,767400,弹炸人2222,"Action, Adventure, Casual"
4,772540,Battle Royale Trainer,"Action, Adventure, FPS, Shooter, Simulation, S..."

In [385]:
df.shape

(27410, 3)

### Reducción del dataset

In [386]:
# Mascara para filtrar juegos Counter-Strike.

mask_counter = df['title'].str.contains('Counter-Strike', case=False, na=False)

In [387]:
df[mask_counter]

,item_id,title,features
951,730,Counter-Strike: Global Offensive,"Action, Co-op, Competitive, Difficult, FPS, Fa..."
2493,273110,Counter-Strike Nexon: Zombies,"Action, Casual, Classic, Co-op, FPS, First-Per..."
3667,381151,Counter-Strike Nexon: Zombies - Journey to the...,"Action, Casual, Massively Multiplayer"
3668,381152,Counter-Strike Nexon: Zombies - Dragon Set + P...,"Action, Casual, Massively Multiplayer"
20572,429450,Counter-Strike Nexon: Zombies - Rivals DLC,"Action, Casual, Free to Play, Massively Multip..."
21111,404240,Counter-Strike Nexon: Zombies - Oz's Trio,"Action, Casual, Free to Play, Massively Multip..."
27320,240,Counter-Strike: Source,"Action, Atmospheric, Competitive, Difficult, F..."
27390,10,Counter-Strike,"1980s, 1990's, Action, Assassin, Classic, Comp..."
27400,80,Counter-Strike: Condition Zero,"Action, Adventure, Atmospheric, Classic, Compe..."

In [388]:
# Mascara para filtrar juegos Grand Theft Auto.

mask_gta = df['title'].str.contains('Grand Theft', case=False, na=False)

In [389]:
df[mask_gta]

,item_id,title,features
347,12220,Grand Theft Auto: Episodes from Liberty City,"Action, Adventure, Atmospheric, Comedy, Crime,..."
499,12100,Grand Theft Auto III,"Action, Adventure, Atmospheric, Classic, Crime..."
500,12120,Grand Theft Auto: San Andreas,"Action, Adventure, Atmospheric, Classic, Comed..."
505,12110,Grand Theft Auto: Vice City,"1980s, Action, Adventure, Atmospheric, Classic..."
11327,771300,Grand Theft Auto V - Criminal Enterprise Start...,"Action, Adventure"
22668,271590,Grand Theft Auto V,"Action, Adventure, Atmospheric, Co-op, Comedy,..."
26733,901583,Grand Theft Auto IV: Complete Edition,"Action, Adventure, Atmospheric, Bowling, Class..."

In [390]:
# Mascara para filtrar juegos Call of Duty.

mask_cod = df['title'].str.contains('Call of Duty', case=False, na=False)

In [391]:
df[mask_cod]

,item_id,title,features
303,10180,Call of Duty®: Modern Warfare® 2,"Action, Adventure, Atmospheric, Co-op, FPS, Fi..."
491,42700,Call of Duty®: Black Ops,"Action, Adventure, Co-op, Cold War, Controller..."
588,42718,Call of Duty®: Black Ops Escalation Content Pack,"Action, Zombies"
708,115300,Call of Duty®: Modern Warfare® 3,"Action, Adventure, Casual, Co-op, Controller, ..."
886,42696,Call of Duty®: Modern Warfare® 3 Collection 2,Action
...,...,...,...
27213,7940,Call of Duty® 4: Modern Warfare®,"Action, Atmospheric, Classic, Co-op, Competiti..."
27231,6810,Commandos: Beyond the Call of Duty,"1990's, Action, Classic, Military, RTS, Stealt..."
27250,2620,Call of Duty®,"Action, America, Atmospheric, Classic, FPS, Fi..."
27253,2630,Call of Duty® 2,"Action, Adventure, Atmospheric, Classic, Co-op..."
27254,2640,Call of Duty: United Offensive,"Action, Atmospheric, Classic, FPS, First-Perso..."

In [392]:
# Generamos un DataFrame con los juegos Counter-Strike, Grand Theft Auto y Call of Duty.

mandatory_games = pd.concat([df[mask_counter], df[mask_gta], df[mask_cod]])

mandatory_games

,item_id,title,features
951,730,Counter-Strike: Global Offensive,"Action, Co-op, Competitive, Difficult, FPS, Fa..."
2493,273110,Counter-Strike Nexon: Zombies,"Action, Casual, Classic, Co-op, FPS, First-Per..."
3667,381151,Counter-Strike Nexon: Zombies - Journey to the...,"Action, Casual, Massively Multiplayer"
3668,381152,Counter-Strike Nexon: Zombies - Dragon Set + P...,"Action, Casual, Massively Multiplayer"
20572,429450,Counter-Strike Nexon: Zombies - Rivals DLC,"Action, Casual, Free to Play, Massively Multip..."
...,...,...,...
27213,7940,Call of Duty® 4: Modern Warfare®,"Action, Atmospheric, Classic, Co-op, Competiti..."
27231,6810,Commandos: Beyond the Call of Duty,"1990's, Action, Classic, Military, RTS, Stealt..."
27250,2620,Call of Duty®,"Action, America, Atmospheric, Classic, FPS, Fi..."
27253,2630,Call of Duty® 2,"Action, Adventure, Atmospheric, Classic, Co-op..."
27254,2640,Call of Duty: United Offensive,"Action, Atmospheric, Classic, FPS, First-Perso..."

In [393]:
# Tomamos una muestra aleatoria de 4800 juegos del DataFrame original.

remaining_df = df.sample(4800, random_state=75)
remaining_df.head()

,item_id,title,features
25080,262870,Recovery Search & Rescue Simulation,Simulation
17073,541810,Island Simulator 2016 - Mp-44,"Action, Adventure, Simulation"
6009,436000,Lovely Planet Arcade,"Action, Adventure, Casual, FPS, Indie, Puzzle"
25943,220809,F1 Race Stars - Holiday Accessory Pack,Racing
10729,736860,Hidden Object Adventure: Around the World in 8...,"Adventure, Casual, Hidden Object, Indie"

In [394]:
# Lo concatenamos con los juegos Counter-Strike, Grand Theft Auto y Call of Duty.

df = pd.concat([mandatory_games, remaining_df])

In [395]:
df[mask_cod]

C:\Users\santo\AppData\Local\Temp\ipykernel_3644\2335160322.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[mask_cod]

,item_id,title,features
303,10180,Call of Duty®: Modern Warfare® 2,"Action, Adventure, Atmospheric, Co-op, FPS, Fi..."
491,42700,Call of Duty®: Black Ops,"Action, Adventure, Co-op, Cold War, Controller..."
588,42718,Call of Duty®: Black Ops Escalation Content Pack,"Action, Zombies"
708,115300,Call of Duty®: Modern Warfare® 3,"Action, Adventure, Casual, Co-op, Controller, ..."
886,42696,Call of Duty®: Modern Warfare® 3 Collection 2,Action
...,...,...,...
23278,331060,Call of Duty®: Advanced Warfare - Magma Person...,Action
3008,343600,Call of Duty®: Advanced Warfare - Championship...,Action
27106,10090,Call of Duty: World at War,"Action, Adventure, Classic, Co-op, FPS, First-..."
3461,343593,Call of Duty®: Advanced Warfare - Lagoon Perso...,Action
21575,318794,Call of Duty®: Advanced Warfare - Reckoning,Action

In [396]:
df.drop_duplicates(subset='title', keep='first', inplace=True)

In [397]:
df.duplicated().sum()

0

In [398]:
df.to_parquet('../Datasets/game_recommendation.parquet', compression='snappy', index=False)