In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet('../Datasets/steam_games_preprocessed.parquet')

In [3]:
df.head()

,item_id,title,developer,release_date,genres,tags,price
0,761140,Lost Summoner Kitty,Kotoshiro,2018-01-04,"Action, Casual, Indie, Simulation, Strategy","Strategy, Action, Indie, Casual, Simulation",4.99
1,643980,Ironbound,Secret Level SRL,2018-01-04,"Free to Play, Indie, RPG, Strategy","Free to Play, Strategy, Indie, RPG, Card Game,...",0.00
2,670290,Real Pool 3D - Poolians,Poolians.com,2017-07-24,"Casual, Free to Play, Indie, Simulation, Sports","Free to Play, Simulation, Sports, Casual, Indi...",0.00
3,767400,弹炸人2222,彼岸领域,2017-12-07,"Action, Adventure, Casual","Action, Adventure, Casual",0.99
4,772540,Battle Royale Trainer,Trickjump Games Ltd,2018-01-04,"Action, Adventure, Simulation","Action, Adventure, Simulation, FPS, Shooter, T...",3.99

In [4]:
# Columnas innecesarias
df.drop(['price', 'release_date'], axis=1, inplace=True)

In [380]:
df

,item_id,title,developer,genres,tags
0,761140,Lost Summoner Kitty,Kotoshiro,"Action, Casual, Indie, Simulation, Strategy","Strategy, Action, Indie, Casual, Simulation"
1,643980,Ironbound,Secret Level SRL,"Free to Play, Indie, RPG, Strategy","Free to Play, Strategy, Indie, RPG, Card Game,..."
2,670290,Real Pool 3D - Poolians,Poolians.com,"Casual, Free to Play, Indie, Simulation, Sports","Free to Play, Simulation, Sports, Casual, Indi..."
3,767400,弹炸人2222,彼岸领域,"Action, Adventure, Casual","Action, Adventure, Casual"
4,772540,Battle Royale Trainer,Trickjump Games Ltd,"Action, Adventure, Simulation","Action, Adventure, Simulation, FPS, Shooter, T..."
...,...,...,...,...,...
27405,745400,Kebab it Up!,Bidoniera Games,"Action, Adventure, Casual, Indie","Action, Indie, Casual, Violent, Adventure"
27406,773640,Colony On Mars,"Nikita ""Ghost_RUS""","Casual, Indie, Simulation, Strategy","Strategy, Indie, Casual, Simulation"
27407,733530,LOGistICAL: South Africa,Sacada,"Casual, Indie, Strategy","Strategy, Indie, Casual"
27408,610660,Russian Roads,Laush Dmitriy Sergeevich,"Indie, Racing, Simulation","Indie, Simulation, Racing"
27409,658870,EXIT 2 - Directions,"xropi,stev3ns","Casual, Indie","Indie, Casual, Puzzle, Singleplayer, Atmospher..."

In [381]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27410 entries, 0 to 27409
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   item_id    27410 non-null  object
 1   title      27410 non-null  object
 2   developer  27410 non-null  object
 3   genres     27410 non-null  object
 4   tags       27410 non-null  object
dtypes: object(5)
memory usage: 1.0+ MB

In [5]:
# Función para combinar géneros y etiquetas, eliminando duplicados.
def combine_features(row):
    genres_list = [genre.strip() for genre in row['genres'].split(',') if genre.strip()]
    tags_list = [tag.strip() for tag in row['tags'].split(',') if tag.strip()]
    combined_set = set(genres_list + tags_list)
    return ', '.join(sorted(combined_set))

df['features'] = df.apply(combine_features, axis=1)

In [6]:
# Columnas innecesarias
df.drop(['genres', 'tags', 'developer'], axis=1, inplace=True)

In [7]:
df.head()

,item_id,title,features
0,761140,Lost Summoner Kitty,"Action, Casual, Indie, Simulation, Strategy"
1,643980,Ironbound,"2D, Board Game, Card Game, Character Customiza..."
2,670290,Real Pool 3D - Poolians,"Casual, Free to Play, Indie, Multiplayer, Simu..."
3,767400,弹炸人2222,"Action, Adventure, Casual"
4,772540,Battle Royale Trainer,"Action, Adventure, FPS, Shooter, Simulation, S..."

In [8]:
df.shape

(27410, 3)

In [10]:
# Eliminación de duplicados
df.drop_duplicates(subset='title', keep='first', inplace=True)

In [11]:
df.duplicated().sum()

0

In [13]:
# Guardamos el dataset en parquet con formato de compresión snappy para mayor velocidad de lectura.
df.to_parquet('../Datasets/game_recommendation.parquet', compression='snappy', index=False)