In [7]:
import pandas as pd

In [12]:
df_user_reviews = pd.read_parquet('../Datasets/user_reviews_preprocessed.parquet')
df_games = pd.read_parquet('../Datasets/steam_games_preprocessed.parquet')
df_user_items = pd.read_parquet('../Datasets/users_items_preprocessed.parquet')

In [32]:
df_user_items['user_id'].value_counts()

user_id
phrostb              7750
thugnificent         6696
chidvd               6403
piepai               6125
mayshowganmore       5021
                     ...
76561198037037792       1
76561198065330706       1
ernvenom                1
76561198088999681       1
76561198091682043       1
Name: count, Length: 70912, dtype: int64

In [9]:
df_user_items

,item_name,playtime_forever,user_id,items_count
0,Counter-Strike,6,76561197970982479,21
1,Team Fortress Classic,0,76561197970982479,21
2,Day of Defeat,7,76561197970982479,21
3,Deathmatch Classic,0,76561197970982479,21
4,Half-Life: Opposing Force,0,76561197970982479,21
...,...,...,...,...
5083226,BrainBread 2,0,76561198329548331,7
5083227,All Is Dust,0,76561198329548331,7
5083228,One Way To Die: Steam Edition,3,76561198329548331,7
5083229,You Have 10 Seconds 2,4,76561198329548331,7
5083230,Minds Eyes,3,76561198329548331,7